.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
**/test/**
**/*.test.ts
**/*.test.js
demo-*.gif
CHANGELOG.md
**/.eslintrc.json
.github/**
.prettierrc
.prettierignore